@page "/"

@* https://github.com/microsoft/fast/tree/master/examples/blazor *@

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<fluent-text-field @bind-value="FirstName" @bind-value:event="oninput">First Name</fluent-text-field>

<fluent-button class="call-to-action" appearance="accent">Send</fluent-button>

@code
{
    private string FirstName { get; set; } = "Blazor";
}
